.lichess {
    color : white;
    text-decoration: underline;
    /* text-shadow: 1px 1px 1px #FFFF; */
    font-style: italic;
}

.email {
  color : white;
  text-decoration: underline;
  /* text-shadow: 1px 1px 1px #FFFF; */
  font-style: italic;
}

#aboutmeBackground{
  height: 100vh;
  /* width: 90%; */
  /* background-size: 100% 100%; */
  /* background-image: url("../assets/anonymous-background_123830656_275.jpeg"); */
  /* background-repeat: no-repeat; */
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
  margin:0;
  padding:0;
}

#aboutmeBackground:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-image: url("../assets/anonymous-background_123830656_275.jpeg");
  width: 100%;
  height: 100%;
  opacity : 0.65;
  z-index: -1;
}

#aboutmeText{
  /* position: absolute; */
  width: 500px;
  height: 100%;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
   height:100%;
}
#header {
   background:#34373d;
   padding:10px;
   height:100px;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:#34373d;
}