#footer {
  text-align: center;
  height: 100px; 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
  right:0;
}

#sourceCode{
  color : white;
  text-decoration: underline;
  font-style: italic;
}

/* .footerTransition-appear {
  opacity: 0.01;
}

.footerTransition-appear.footerTransition-appear-active {
  opacity: 1;
  transition: opacity 5s ease-in;
} */