.container-fluid {
  height: 90vh;
  width: 90%;
  background-size: cover;
  background-image: url("../assets/thumb-1920-232854.jpg");

  text-align: center;
  
}

#welcomeMsg{
  line-height: 600px;
  opacity: 0.65;
}